body{
    background-image: url(../img/bk.png);
    background-repeat: repeat-y;
    background-size: 100%;
}
nav{
    
    position:relative;
    height:40px;
    background-color: rgba(255, 255, 255, 0.75);
}
nav ul{
   
    text-align: center;
    position:relative;
    top:10px;
    
}

nav ul li{
    display:inline-block;
    margin-left:50px;
    width:70px;
    border-left: 2px dotted #000000;
    
    
}

nav ul li a{
    text-decoration: none;
    color:black;
    font-weight:900;
    font-family: 'Raleway', sans-serif;

}
nav ul li a:hover{
    border-bottom: 1px solid #000000;
    
}