body{
    background-color: #dbb173;
    font-family: 'Roboto Slab', serif;
    margin-top:50px; 
    margin-left:35px;
}

/* Styling Nav Bar*/
#logo{
    
    float:left;
    margin-left:10px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-top: 15px;
}
.nav{
    background-color: rgba(255,255,255,0.7);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 50px;;
    z-index: 1;
    
 
}
.nav ul{
    
   text-align: left;
    float:left;
}

.nav ul li{
    display: inline-block;
    margin-left: 70px;
    border-left:2px dotted black;
    padding-left:10px;
}

.nav ul li a{
    text-decoration: none;
    color:#000000;
    font-size: 18px;
}
.nav ul li a:hover{
    border-bottom: 1px solid black;
}
/*Styling first section "welcome class"*/

.welcome h1{
float:left;
line-height: 60px;
width:500px;

}
.welcome img{

    border-radius: 50%;
    width:400px;
    margin-left:300px;
    opacity:0.85;
}
/*styling second div univ class*/

.univ img{
float:left;
border-radius: 50%;
/* width:450px; */
   
}
#cyka{
    display: inline-block;
    width:650px;
    margin-left:30px;
    /* background-color: white; */
}
/* styling footer */
.contact{

    margin-top: 200px;
    width:100%;
    color:#000000;
    /* background-color: #000000; */
    text-align: center;
    opacity: 0.5;

  
}

.contact p{
  
}